In [4]:
import pycountry
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/12-18-2020.csv')

def findCountryAlpha2 (country_name):
    try:
        return pycountry.countries.get(name=country_name).alpha_2
    except:
        return ("not founded!")

def findCountryAlpha3 (country_name):
    try:
        return pycountry.countries.get(name=country_name).alpha_3
    except:
        return ("not founded!")

def findCountryNumeric (country_name):
    try:
        return pycountry.countries.get(name=country_name).numeric
    except:
        return ("not founded!")
    
def findCountryOfficialName (country_name):
    try:
        return pycountry.countries.get(name=country_name).official_name
    except:
        return ("not founded!")
    
#df['country_alpha_2'] = df.apply(lambda row: findCountryAlpha2(row.Country_Region) , axis = 1)
#df['country_alpha_3'] = df.apply(lambda row: findCountryAlpha3(row.Country_Region) , axis = 1)
#df['country_numeric'] = df.apply(lambda row: findCountryNumeric(row.Country_Region) , axis = 1)
#df['official_name'] = df.apply(lambda row: findCountryOfficialName(row.Country_Region) , axis = 1)


df['country_alpha_2_e'] = df.apply(lambda row: findCountryAlpha2("ENGLAND") , axis = 1)
df['country_alpha_3_e'] = df.apply(lambda row: findCountryAlpha3("ENGLAND") , axis = 1)
df['country_numeric_e'] = df.apply(lambda row: findCountryNumeric("ENGLAND") , axis = 1)
df['official_name_e'] = df.apply(lambda row: findCountryOfficialName("ENGLAND") , axis = 1)

In [5]:
df

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio,country_alpha_2_e,country_alpha_3_e,country_numeric_e,official_name_e
0,NaN,NaN,NaN,Afghanistan,2020-12-19 05:27:52,33.939110,67.709953,49621,2030,38540,9051.0,Afghanistan,127.467544,4.091010,not founded!,not founded!,not founded!,not founded!
1,NaN,NaN,NaN,Albania,2020-12-19 05:27:52,41.153300,20.168300,52004,1066,27426,23512.0,Albania,1807.074849,2.049842,not founded!,not founded!,not founded!,not founded!
2,NaN,NaN,NaN,Algeria,2020-12-19 05:27:52,28.033900,1.659600,94371,2647,62487,29237.0,Algeria,215.208108,2.804887,not founded!,not founded!,not founded!,not founded!
3,NaN,NaN,NaN,Andorra,2020-12-19 05:27:52,42.506300,1.521800,7519,80,6919,520.0,Andorra,9731.443733,1.063971,not founded!,not founded!,not founded!,not founded!
4,NaN,NaN,NaN,Angola,2020-12-19 05:27:52,-11.202700,17.873900,16562,384,9345,6833.0,Angola,50.392092,2.318561,not founded!,not founded!,not founded!,not founded!
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3974,NaN,NaN,NaN,Yemen,2020-12-19 05:27:52,15.552727,48.516388,2087,606,1384,97.0,Yemen,6.997258,29.036895,not founded!,not founded!,not founded!,not founded!
3975,NaN,NaN,NaN,Zambia,2020-12-19 05:27:52,-13.133897,27.849332,18575,373,17729,473.0,Zambia,101.039189,2.008075,not founded!,not founded!,not founded!,not founded!
3976,NaN,NaN,NaN,Zimbabwe,2020-12-19 05:27:52,-19.015438,29.154857,12047,316,9894,1837.0,Zimbabwe,81.054021,2.623060,not founded!,not founded!,not founded!,not founded!
3977,2066.0,Copper River,Alaska,US,2021-04-02 15:13:53,60.388600,-162.890520,134,0,0,0.0,"Copper River, Alaska, US",NaN,NaN,not founded!,not founded!,not founded!,not founded!
3978,2063.0,Chugach,Alaska,US,2021-04-02 15:13:53,61.166660,-149.900000,202,3,0,0.0,"Chugach, Alaska, US",NaN,NaN,not founded!,not founded!,not founded!,not founded!

In [14]:
def findCountryRegex (text):
    data = text.split()
    for temp in data:
        print(temp)
        #pycountry.countries.search_fuzzy(temp)

In [20]:
print(findCountryRegex('Jorquera, O| Kiperstok, A| Sales, EA| Embirucu, M| Ghirardi, ML;Jorquera, Orlando| 
                       Kiperstok, Asher| Sales, Emerson A.| Embirucu, Marcelo| Ghirardi, Maria L.;
                       Comparative energy life-cycle analyses of microalgal biomass production in open ponds and 
                       photobioreactors;
                       BIORESOURCE TECHNOLOGY;
                       English;
                       Article;
                       Photobioreactors| Oil production| Microalgae| Life-cycle analysis| Energy;MASS CULTIVATION|
                       CULTURE| SYSTEM| OPTIMIZATION| BIODIESEL| SPIRULINA;
                       An analysis of the energy life-cycle for production of biomass using 
                       the oil-rich microalgae Nannochloropsis sp. was performed, 
                       which included both raceway ponds, tubular and flat-plate 
                       photobioreactors for algal cultivation. The net energy ratio (NER) 
                       for each process was calculated. The results showed that the use of
                       horizontal tubular photobioreactors (PBRs) is not economically feasible 
                       ([NER] < 1) and that the estimated NERs for flat-plate PBRs and raceway 
                       ponds is >1. The NER for ponds and flat-plate PBRs could be raised to 
                       significantly higher values if the lipid content of the biomass were 
                       increased to 60% dw/cwd. Although neither system is currently competitive 
                       with petroleum, the threshold oil cost at which this would occur was also estimated.
                       (C) 2009 Elsevier Ltd. All rights reserved.;
                       [Ghirardi, Maria L.] NREL, Golden, CO 80401 USA| 
                       [Jorquera, Orlando| Kiperstok, Asher] 
                       Univ Fed Bahia, Dept Environm Engn, Bahia Ctr Clean Technol TECLIM, 
                       Polytech Inst, BR-40210630 Salvador, BA, Brazil| 
                       [Sales, Emerson A.] 
                       Univ Fed Bahia, Inst Chem, Dept Phys Chem,
                       BR-40210630 Salvador, BA, Brazil;Ghirardi, 
                       ML (corresponding author), NREL, 1617 Cole Blvd, Golden, CO 80401 USA.;
                       maria.ghirardi@nrel.gov;SALES, 
                       EMERSON/F-2005-2015| SALES, EMERSON/AAD-3415-2019| 
                       Jorquera, Orlando/D-7693-2014;SALES, EMERSON/0000-0002-9607-7285|
                       SALES, EMERSON/0000-0002-9607-7285|
                       Jorquera, Orlando/0000-0003-4086-5474;;;;31;459;465;6;198;
                       ELSEVIER SCI LTD;
                       1122OXFORD;THE BOULEVARD, LANGFORD LANE, KIDLINGTON, OXFORD OX5 1GB, OXON, ENGLAND;0960-8524;1873-2976;;BIORESOURCE TECHNOL;Bioresour. Technol.;FEB;2010;101;4;;;;;1406;1413;;10.1016/j.biortech.2009.09.038;;;8;Agricultural Engineering| Biotechnology & Applied Microbiology| Energy & Fuels;Agriculture| Biotechnology & Applied Microbiology| Energy & Fuels;523KJ;WOS:000272071800045;19800784;;;;2021-01-01 J'))

Jorquera,
O|
Kiperstok,
A|
Sales,
EA|
Embirucu,
M|
Ghirardi,
ML;Jorquera,
Orlando|
Kiperstok,
Asher|
Sales,
Emerson
A.|
Embirucu,
Marcelo|
Ghirardi,
Maria
L.;Comparative
energy
life-cycle
analyses
of
microalgal
biomass
production
in
open
ponds
and
photobioreactors;BIORESOURCE
TECHNOLOGY;English;Article;Photobioreactors|
Oil
production|
Microalgae|
Life-cycle
analysis|
Energy;MASS
CULTIVATION|
CULTURE|
SYSTEM|
OPTIMIZATION|
BIODIESEL|
SPIRULINA;An
analysis
of
the
energy
life-cycle
for
production
of
biomass
using
the
oil-rich
microalgae
Nannochloropsis
sp.
was
performed,
which
included
both
raceway
ponds,
tubular
and
flat-plate
photobioreactors
for
algal
cultivation.
The
net
energy
ratio
(NER)
for
each
process
was
calculated.
The
results
showed
that
the
use
of
horizontal
tubular
photobioreactors
(PBRs)
is
not
economically
feasible
([NER]
<
1)
and
that
the
estimated
NERs
for
flat-plate
PBRs
and
raceway
ponds
is
>1.
The
NER
for
ponds
and
flat-plate
PBRs
could
be
raised
to
significantly
higher
values
if
the
lipid
content
of
the
biomass
were
increased
to
60%
dw/cwd.
Although
neither
system
is
currently
competitive
with
petroleum,
the
threshold
oil
cost
at
which
this
would
occur
was
also
estimated.
(C)
2009
Elsevier
Ltd.
All
rights
reserved.;[Ghirardi,
Maria
L.]
NREL,
Golden,
CO
80401
USA|
[Jorquera,
Orlando|
Kiperstok,
Asher]
Univ
Fed
Bahia,
Dept
Environm
Engn,
Bahia
Ctr
Clean
Technol
TECLIM,
Polytech
Inst,
BR-40210630
Salvador,
BA,
Brazil|
[Sales,
Emerson
A.]
Univ
Fed
Bahia,
Inst
Chem,
Dept
Phys
Chem,
BR-40210630
Salvador,
BA,
Brazil;Ghirardi,
ML
(corresponding
author),
NREL,
1617
Cole
Blvd,
Golden,
CO
80401
USA.;maria.ghirardi@nrel.gov;SALES,
EMERSON/F-2005-2015|
SALES,
EMERSON/AAD-3415-2019|
Jorquera,
Orlando/D-7693-2014;SALES,
EMERSON/0000-0002-9607-7285|
SALES,
EMERSON/0000-0002-9607-7285|
Jorquera,
Orlando/0000-0003-4086-5474;;;;31;459;465;6;198;ELSEVIER
SCI
LTD;OXFORD;THE
BOULEVARD,
LANGFORD
LANE,
KIDLINGTON,
OXFORD
OX5
1GB,
OXON,
ENGLAND;0960-8524;1873-2976;;BIORESOURCE
TECHNOL;Bioresour.
Technol.;FEB;2010;101;4;;;;;1406;1413;;10.1016/j.biortech.2009.09.038;;;8;Agricultural
Engineering|
Biotechnology
&
Applied
Microbiology|
Energy
&
Fuels;Agriculture|
Biotechnology
&
Applied
Microbiology|
Energy
&
Fuels;523KJ;WOS:000272071800045;19800784;;;;2021-01-01
J
None

In [19]:
import geograpy
url='https://en.wikipedia.org/wiki/2012_Summer_Olympics_torch_relay'
places = geograpy.get_geoPlace_context(url = url)
print(places)

Downloading /Users/avz/opt/anaconda3/lib/python3.8/site-packages/geograpy/locs.db.gz from http://wiki.bitplan.com/images/confident/locs.db.gz ... this might take a few seconds
unzipping /Users/avz/opt/anaconda3/lib/python3.8/site-packages/geograpy/locs.db from /Users/avz/opt/anaconda3/lib/python3.8/site-packages/geograpy/locs.db.gz
countries=['Jersey', 'Guernsey', 'Ireland', 'Greece', 'Turkey', 'United Kingdom', 'Belarus', 'South Africa', 'Australia', 'New Zealand', 'Germany', 'France', 'Jamaica', 'Antigua and Barbuda', 'Montserrat', 'United States', 'Canada', 'Japan']
regions=['Abraham', 'British', 'Cornwall', 'Caerphilly', 'Guernsey', 'Hackney', 'Greece', 'Falmouth', 'Engineering', 'Ireland', 'United Kingdom', 'Davy', 'Wanted', 'Aberaeron', 'Portland', 'Stamford', 'England', 'Derry', 'Torch', 'Lincolnshire', 'Land', 'Bristol Harbour', 'Hyde Park', 'Cambridge', 'Sheffield', 'London', 'Host', 'Munich', 'Newton Aycliffe', 'Turkey', 'Wales', 'Scotland', 'British/Irish', 'Essex', 'Wiltshire', 'Thirsk', 'Bangor', 'East', 'Taunton Lancashire', 'Locog', 'Plymouth', 'Jersey', 'Dublin', 'Northern Ireland', 'Athens', 'Hera', 'Cardiff', 'Swansea', 'Maidstone', 'Cumbrian', 'Gravesend', 'Burscough', 'Ioannina', 'Heathrow']
cities=['Ioannina', 'Athens', 'Dublin', 'Hyde Park', 'Swansea', 'Sheffield', 'Portland', 'Cardiff', 'Cambridge', 'Bangor', 'Thirsk', 'Stamford', 'Plymouth', 'Newton Aycliffe', 'Maidstone', 'London', 'Hackney', 'Gravesend', 'Falmouth', 'Caerphilly', 'Burscough', 'Aberaeron', 'Munich', 'Derry', 'England', 'Scotland', 'Essex', 'Turkey', 'Davy', 'Ireland', 'Lincolnshire', 'Wales', 'Guernsey', 'Cornwall', 'Heathrow', 'Hera']
other=['British', 'British', 'East']